.field {
   display block
   &__input {
      appearance none
      box-sizing border-box
      display block
      width 100%
      padding 11px 5px 10px
      border none
      border-bottom 1px solid #ebebeb
      outline 0
      color #1d1d1b
      font-size 18px
      border-radius 0
   }
   &__title {
      font-size 12px
   }
}