.section {
   &__header {
      font-size 36px
      line-height 1.2
      font-weight 700
      margin-bottom 20px
   }
   &__search {
      margin-bottom 30px
   }
   &__side {
   }
   &__parent {
      margin-bottom 15px
      color #3d96ce
      font-size 18px
      line-height 1.2
      &-link {
         text-decoration none
         border-bottom none
         color currentColor
         &:hover {
            opacity .8
         }
      }
   }
   &__main {
   }
   &__list {
      display flex
      flex-wrap wrap
      margin-right -10px
      margin-left -10px
      &-item {
         flex 1
         max-width calc(20% - 20px)
         flex-basis calc(20% - 20px)
         margin-right 10px
         margin-left 10px
      }
   }
}